<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">USUARIOS Y PERFILES</h1>
</div>

<div ng-controller="UsuariosPerfiles as vm">

    <div class="bg-light lter b-b wrapper-md" style="heRight: 70px; padding: 10px;">
        <div class="hbox text-left b-b b-light text-sm">
            <button ng-if="!vm.user" class="pull-rigth btn m-b-xs btn-sm btn-primary btn-addon"
                    type="reset" ng-click="vm.nuevo()">
                <i class="fa fa-plus"></i>
                <span>Nuevo</span>
            </button>

            <button ng-if="vm.user" class="pull-rigth btn m-b-xs btn-sm btn-primary btn-addon "
                    type="submit" ng-click="vm.nuevaLinea()">
                <i class="fa fa-bars block m-b-xs fa-2x "></i>
                <span>Nuevo</span>
            </button>
            <button ng-if="vm.user" class="pull-rigth btn m-b-xs btn-sm btn-primary btn-addon "
                    type="submit" ng-click="vm.guardar()">
                <i class="fa fa-save block m-b-xs fa-2x "></i>
                <span translate="label.global.guardar"/>
            </button>
            <button ng-if="vm.user && !vm.mostarBtnCancelaLin ? true:false" class="pull-rigth btn m-b-xs btn-sm btn-warning btn-addon"
                    type="submit" ng-click="vm.cancelar()">
                <i class="fa fa-ban block m-b-xs fa-2x "></i>
                <span>Cancelar</span>
            </button>

            <button ng-if="vm.user && vm.mostarBtnCancelaLin ? true:false" class="pull-rigth btn m-b-xs btn-sm btn-info btn-addon"
                    type="submit" ng-click="vm.cancelarIngresoLineas()">
                <i class="fa fa-ban block m-b-xs fa-2x "></i>
                <span>Cancelar</span>
            </button>


        </div>
    </div>


    <div ng-if="!vm.user"  class="panel panel-defaul panel-body">
    <table  class="table table-condensed table-bordered table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>USUARIO</th>
            <th>IDENTIFICACI&Oacute;N</th>
            <th>OFICINA</th>
            <th>CARGO</th>
            <th>SUPERIOR</th>
            <th>ESTADO</th>
            <th>ACCI&Oacute;N</th>
        </tr>
        </thead>

        <tr ng-repeat="iterador in vm.lstUsers">
            <td class="text-center" >{{iterador.id}}</td>
            <td class="text-center" >{{iterador.userName}}</td>
            <td class="text-center" >{{iterador.identificationNumber}}</td>
            <td class="text-center" >{{iterador.office.nombre}}</td>
            <td class="text-center" >{{iterador.appointment.nombre}}</td>
            <td class="text-center" >{{iterador.upper.nombre}}</td>
            <td class="text-center" >{{iterador.status.nombre}}</td>

            <td>
                <div class="text-center">
                    <button class="btn btn-info btn-xs"
                            ng-click="vm.editarRegistro(iterador)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-xs"
                            ng-click="vm.elimiarRegistro($index)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>

                </div>
            </td>
        </tr>
    </table>
    </div>




    <div class="panel" ng-if="vm.user">

    <tabset class="tab-container" ng-init="steps={step1:true, step2:false, step3:false}" >


        <tab heading="USUARIOS" select="vm.seleccionarTab(1);">

             <form id="formUsuarios" name="formUsuarios" class="form-validation">
                 <div class="alert alert-info">
                     <strong>NOTA:</strong> Los campos se&ntilde;alados con (*) son obligatorios.
                 </div>


                 <div class="panel  b-a bg-light lt has-success wrapper-md">

                        <div class="line"/>
                            <div class="row" >

                                    <div class="col-lg-1">
                                        <label>
                                           * Usuario:
                                        </label>
                                    </div>

                                    <div class="col-lg-2-4  ">
                                        <input ng-model="vm.user.userName" class="col-sm-3 form-control" required>
                                    </div>


                                <div class="col-lg-1">
                                    <label>
                                        Id:
                                    </label>
                                </div>

                                <div class="col-lg-2-4">
                                    <input type="number" ng-model="vm.user.id" class="form-control" required>
                                </div>

                                <div class="col-lg-1 has-error">
                                    <label>
                                       * Estado:
                                    </label>
                                </div>

                                <div class="col-lg-2">
                                    <div>
                                        <select class="form-control"
                                                ng-options="estado.nombre for estado in vm.lstEstado track by estado.id"
                                                ng-model="vm.user.status">
                                        </select>



                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <div class="col-lg-1">
                                    <label>
                                      * N&uacute;mero Identificaci&oacute;n:
                                    </label>
                                </div>

                                <div class="col-lg-2-4">
                                    <input mask="9999999999" ng-model="vm.user.identificationNumber" class="form-control" required>
                                </div>
                            </div>
                            <div class="line"/>
                            <div class="row">
                                <div class="col-lg-1">
                                    <label>
                                        e-mail:
                                    </label>
                                </div>

                                <div class="col-lg-2-4">
                                    <input  ng-model="vm.user.email" type="email" class="form-control">
                                </div>
                            </div>
                            <div class="line"/>
                            <div class="row">
                                <div class="col-lg-1">
                                    <label>
                                       * Oficina:
                                    </label>
                                </div>

                                <div class="col-lg-2-4">
                                    <div>
                                        <select class="form-control" ng-required="true"
                                                ng-options="oficina.nombre for oficina in vm.lstOficinas track by oficina.id"
                                                ng-model="vm.user.office"></select>
                                    </div>

                                </div>


                            </div>
                            <div class="line"/>
                            <div class="row">
                                <div class="col-sm-1">
                                    <label>
                                       * Cargo:
                                    </label>
                                </div>

                                <div class="col-lg-2-4">
                                    <div>
                                        <select class="form-control" ng-required="true"
                                                ng-options="cargo.nombre for cargo in vm.lstCargos track by cargo.id"
                                                ng-model="vm.user.appointment"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="line"/>
                            <div class="row">
                                <div class="col-sm-1">
                                    <label>
                                      *Superior:
                                    </label>
                                </div>

                                <div class="col-lg-2-4">
                                    <div>
                                        <select class="form-control" ng-required="true"
                                                ng-options="superior.nombre for superior in vm.lstSuperiores track by superior.id"
                                                ng-model="vm.user.upper"></select>
                                    </div>
                                </div>
                            </div>
                        <div class="line"/>
                    </div>

                 <div class="panel b-a bg-light lt">
                     <div class="panel-heading font-bold">
                         CONFIGURAR ACCESO
                         <div ng-init="vm.accessConfig=false" class="col-sm-10">
                             <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                                 <input ng-model="vm.accessConfig"
                                        type="checkbox" checked> <i></i>
                             </label>
                         </div>
                     </div>
                     <div class="panel-body" ng-if="vm.accessConfig">

                         <div class="line"></div>
                         <div class="form-group">
                             <label class="col-sm-3 control-label">Desde cualquier estaci&oacute;n?</label>
                             <div class="col-sm-5">
                                 <label class="i-switch i-switch-md bg-warning m-t-xs m-r">
                                     <input ng-model="vm.user.cualquierEstacion"
                                            type="checkbox" checked> <i></i>
                                 </label>
                             </div>
                         </div>

                         <div class="line"></div>
                         <div class="form-group">
                             <label class="col-sm-3 control-label">Horario:</label>
                             <div class="col-sm-5">
                                 <select class="form-control"
                                         ng-options="horario.nombre for horario in vm.lstHorarios track by horario.id"
                                         ng-model="vm.user.horario"></select>
                             </div>
                         </div>

                         <div class="line"></div>
                         <div class="form-group">
                             <label class="col-sm-3 control-label">DashBoard Inicial:</label>
                             <div class="col-sm-5">
                                 <select class="form-control"
                                         ng-options="dashBoard.nombre for dashBoard in vm.lstDashBoard track by dashBoard.id"
                                         ng-model="vm.user.dashBoard"></select>
                             </div>
                         </div>

                         <div class="line"></div>
                         <div class="form-group">
                             <label class="col-sm-3 control-label">Tiempo de inactividad:</label>
                             <div class="col-sm-5">
                                 <input type="number" class="form-control" ng-model="vm.user.tiempoInactividad"/>
                             </div>
                         </div>





                     </div>
                 </div>

                 <div class="panel b-a bg-light lt">
                     <div class="panel-heading font-bold">
                         CONTRASE&Ntilde;A
                         <div ng-init="vm.password=false" class="col-sm-10">
                             <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                                 <input ng-model="vm.password"
                                        type="checkbox" checked> <i></i>
                             </label>
                         </div>
                     </div>
                     <div class="panel-body" ng-if="vm.password">

                         <div class="line"></div>
                         <div class="form-group">
                             <label class="col-sm-5 control-label">Usuario debe cambiar el password desde el pr&oacute;ximo logon</label>
                             <div class="col-sm-5">
                                 <label class="i-switch i-switch-md bg-primary m-t-xs m-r">
                                     <input ng-model="vm.user.modificarPassword"
                                            type="checkbox" checked> <i></i>
                                 </label>
                             </div>
                         </div>


                         <div class="line"></div>
                         <div class="form-group">
                             <label class="col-sm-5 control-label">Usuario no puede cambiar el password</label>
                             <div class="col-sm-5">
                                 <label class="i-switch i-switch-md bg-primary m-t-xs m-r">
                                     <input ng-model="vm.user.nomodificarPassword"
                                            type="checkbox" checked> <i></i>
                                 </label>
                             </div>
                         </div>

                         <div class="line"></div>
                         <div class="form-group">
                             <label class="col-sm-5 control-label">Password nunca expira</label>
                             <div class="col-sm-5">
                                 <label class="i-switch i-switch-md bg-primary m-t-xs m-r">
                                     <input ng-model="vm.user.expiracionPassword"
                                            type="checkbox" checked> <i></i>
                                 </label>
                             </div>
                         </div>

                     </div>
                 </div>


             </form>
        </tab>

        <tab heading="PERFILES" disabled="formUsuarios.$invalid"  select="vm.seleccionarTab(2);" ng-click="vm.notificacionBloqueo();">
            <form id="formPerfiles" name="formPerfiles" class="form-validation">

                <div ng-if="vm.usrPerfil" class="panel  b-a bg-light lt has-success wrapper-md">

                    <div class="line"/>
                    <div class="row  " >


                        <div class="col-lg-1">
                            <label>
                                PERFIL:
                            </label>
                        </div>

                        <div class="col-lg-2-4 ">
                            <select class="form-control"
                                    ng-options="perfil.nombrePerfil for perfil in vm.lstPerfiles track by perfil.idPerfil"
                                    ng-model="vm.usrPerfil.perfil"></select>
                        </div>

                    </div>



                    <div class="line"/>
                    <div class="row  " >

                        <div class="col-lg-1">
                            <label>
                                ESTADO:
                            </label>
                        </div>

                        <div class="col-lg-2-4 ">
                            <select class="form-control"
                                    ng-options="estado.nombre for estado in vm.lstEstado track by estado.id"
                                    ng-model="vm.usrPerfil.estado"></select>
                        </div>
                    </div>

                    <div class="line"/>
                    <div class="row  " >

                        <div class="col-lg-1">
                            <label>
                                TIENE VENCIMIENTO:
                            </label>
                        </div>

                        <div class="col-lg-2-4 ">
                            <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                            <input type="checkbox" ng-model="vm.usrPerfil.vencimiento"  checked />
                                <i></i>
                            </label>
                        </div>
                    </div>

                    <div class="line"/>
                    <div ng-if="vm.usrPerfil.vencimiento" class="row" >

                        <div class="col-lg-1">
                            <label>
                                FECHA VENCIMIENTO:
                            </label>
                        </div>

                        <div class="col-lg-2-4 ">
                            <input ng-model="vm.usrPerfil.fechaVencimiento" type="date" placeholder=" a&ntilde;o /mes/d&iacute;a" class="col-sm-3 form-control" required>
                        </div>
                    </div>


                </div>


                <div ng-if="!vm.usrPerfil" class="panel panel-defaul panel-body">

                    <div>

                        <table  class="table table-condensed table-bordered table-striped" show-filter="true">

                            <thead>
                            <tr>
                                <th>Perfil</th>
                                <th>Estado</th>
                                <th>Vencimiento</th>
                                <th>Fecha de vencimiento</th>
                                <th>Creaci&oacute;n usuario</th>
                                <th>Creaci&oacute;n fecha</th>
                            </tr>
                            </thead>

                            <tr ng-repeat="iterador in vm.user.lstPerfiles">
                                <td class="text-center" data-title="TIPO">{{iterador.perfil.nombrePerfil}}</td>
                                <td class="text-center" data-title="ANTERIOR">{{iterador.estado.nombre}}</td>
                                <td class="text-center" data-title="VENCIMIENTO">{{iterador.vencimiento == true?'Si':'No'}}</td>
                                <td class="text-center" data-title="FECHAVENCIMIENTO">{{iterador.fechaVencimiento}}</td>
                                <td class="text-center" data-title="CREACIONUSUARIO">{{iterador.creatingUser.userName}}</td>
                                <td class="text-center" data-title="CREACIONFECHA">{{iterador.creatingDate}}</td>
                                <td>
                                    <div class="text-center">
                                        <button class="btn btn-info btn-xs"
                                                ng-click="vm.editarPerfil(iterador)">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                        <button class="btn btn-danger btn-xs"
                                                ng-click="vm.eliminarPerfil($index)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </form>

        </tab>

       <tab heading="ESTACIONES" disabled="formUsuarios.$invalid" select="vm.seleccionarTab(3);" ng-click="vm.notificacionBloqueo();">
		
            <form id="formEstaciones" name="formEstaciones" class="form-validation">
                <div class="alert alert-info">
                    <strong>NOTA:</strong> Los campos se&ntilde;alados con (*) son obligatorios.
                </div>
                <div ng-if="vm.usrEstacion" class="panel  b-a bg-light lt has-success wrapper-md">

                        <div class="line"/>
                            <div class="row  " >

                                    <div class="col-lg-1">
                                        <label>
                                            *Estaci&oacute;n:
                                        </label>
                                    </div>

                                    <div class="col-lg-2-4 ">
                                        <select class="form-control"
                                                ng-options="estacion.nombre for estacion in vm.lstEstaciones track by estacion.id"
                                                ng-model="vm.usrEstacion.estacion"></select>
                                    </div>


                                <div class="col-lg-1">
                                    <label>
                                        *Creaci&oacute;n Usuario:
                                    </label>
                                </div>

                                <div class="col-lg-2-4">
                                    <label>{{vm.usrEstacion.creatingUser.userName}}</label>
                                </div>

                                <div class="col-lg-1">
                                    <label>
                                        *Creaci&oacute;n Fecha:
                                    </label>
                                </div>

                                <div class="col-lg-1">
                                    <label>{{vm.usrEstacion.creatingDate}}</label>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <div class="col-lg-1">
                                    <label>
                                        *Modificar Usario:
                                    </label>
                                </div>

                                <div class="col-lg-2-4">
                                    <label>{{vm.usrEstacion.creatingUser.userName}}</label>
                                </div>
                            </div>
                            <div class="line"/>
                            <div class="row">
                                <div class="col-lg-1">
                                    <label>
                                        *Modificar Fecha:
                                    </label>
                                </div>

                                
                                <div class="col-lg-2-4">
                                    <label>{{vm.usrEstacion.creatingDate}}</label>
                                </div>
                            </div>
                        <div class="line"/>
                    </div>

                <div ng-if="!vm.usrEstacion" class="panel panel-defaul panel-body">

                    <div>

                        <table  class="table table-condensed table-bordered table-striped" show-filter="true">

                            <thead>
                            <tr>
                                <th>Estacion</th>
                                <th>Fecha Creacion</th>
                                <th>Creaci&oacute;n usuario</th>
                                <th>Fecha Modificacion</th>
                                <th>Usuario Modificacion</th>

                            </tr>
                            </thead>

                            <tr ng-repeat="iterador in vm.user.lstEstaciones">
                                <td class="text-center" data-title="ESTACION">{{iterador.estacion.nombre}}</td>
                                <td class="text-center" data-title="FECHA CREACION">{{iterador.creatingDate}}</td>
                                <td class="text-center" data-title="USUARIO CREACION">{{iterador.creatingUser.userName}}</td>
                                <td class="text-center" data-title="FECHA MODIFICACION">{{iterador.creatingDate}}</td>
                                <td class="text-center" data-title="USUARIO MODIFICACION">{{iterador.creatingUser.userName}}</td>
                                <td>
                                    <div class="text-center">
                                        <button class="btn btn-info btn-xs"
                                                ng-click="vm.editarEstacion(iterador)">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                        <button class="btn btn-danger btn-xs"
                                                ng-click="vm.eliminarEstacion($index)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </form>
        </tab>

        <tab heading="ACTIVIDAD" disabled="formUsuarios.$invalid" select="vm.seleccionarTab(4);" ng-click="vm.notificacionBloqueo();">

                <div class="panel panel-defaul panel-body">

                    <div>

                        <table  class="table table-condensed table-bordered table-striped" show-filter="true">

                            <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Anterior</th>
                                <th>Nuevo</th>
                                <th>Creaci&oacute;n usuario</th>
                                <th>Creaci&oacute;n fecha</th>
                            </tr>
                            </thead>

                            <tr ng-repeat="iterador in vm.logActividades">
                                <td class="text-center" data-title="TIPO">{{iterador.tipoActividad}}</td>
                                <td class="text-center" data-title="ANTERIOR">{{iterador.anteriorActividad}}</td>
                                <td class="text-center" data-title="NUEVO">{{iterador.nuevoActividad}}</td>
                                <td class="text-center" data-title="CREACIONUSUARIO">{{iterador.creacionUsuarioActividad}}</td>
                                <td class="text-center" data-title="CREACIONFECHA">{{iterador.creacionFechaActividad}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
        </tab>

        <tab heading="OFICINAS" disabled="formUsuarios.$invalid" select="vm.seleccionarTab(5);" ng-click="vm.notificacionBloqueo();">

            <form id="formOficinas" name="formOficinas" class="form-validation">

                <div ng-if="vm.object" class="panel  b-a bg-light lt has-success wrapper-md">
                    <div >
                        <div class="has-success">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Oficina: </label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="mySelect"
                                            ng-options="oficina.nombre for oficina in vm.lstOficinas track by oficina.id"
                                            ng-model="vm.object.office"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div ng-if="!vm.object">
                    <table  class="table table-condensed table-bordered table-striped">

                        <thead>
                        <tr>
                            <th>Oficina</th>
                            <th>Creaci&oacute;n usuario</th>
                            <th>Creaci&oacute;n fecha</th>
                            <th>Modifica usuario</th>
                            <th>Modifica fecha</th>
                        </tr>
                        </thead>

                        <tr ng-repeat="iterador in vm.user.lstOficinas">
                            <td class="text-center" data-title="OFICINA">{{iterador.office.nombre}}</td>
                            <td class="text-center" data-title="CREACIONUSUARIO">{{iterador.creatingUser.userName}}</td>
                            <td class="text-center" data-title="CREACIONFECHA">{{iterador.creatingDate}}</td>
                            <td class="text-center" data-title="MODIFICAUSUARIO">{{iterador.creatingUser.userName}}</td>
                            <td class="text-center" data-title="MODIFICAFECHA">{{iterador.creatingDate}}</td>
                            <td>
                                <div class="text-center">
                                    <button class="btn btn-info btn-xs"
                                            ng-click="vm.editarOficina(iterador)">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                    <button class="btn btn-danger btn-xs"
                                            ng-click="vm.eliminarOficina($index)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </form>
        </tab>


    </tabset>
    </div>
</div>
