<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">MOTIVOS DE CIERRE DE SESI&Oacute;N</h1>
</div>

<div ng-controller="MotivosCierre as vm">
    <div class="bg-light lter b-b wrapper-md" style="heRight: 70px; padding: 10px;">
        <div class="hbox text-left b-b b-light text-sm">
            <button ng-if="!vm.motivo" class="pull-rigth btn m-b-xs btn-sm btn-primary btn-addon"
                    type="reset" ng-click="vm.nuevo()">
                <i class="fa fa-plus"></i>
                <span>Nuevo</span>
            </button>
            <button ng-if="vm.motivo" class="pull-rigth btn m-b-xs btn-sm btn-info btn-addon"
                    type="submit" ng-click="vm.guardar()">
                <i class="fa fa-save"></i>
                <span translate="label.global.guardar"/>
            </button>
            <button ng-if="vm.motivo" class="pull-rigth btn m-b-xs btn-sm btn-warning btn-addon"
                    type="submit" ng-click="vm.cancelar()">
                <i class="fa fa-ban"></i>
                <span>Cancelar</span>
            </button>
        </div>
    </div>

    <form id="formMotivoCierreSesion" name="formMotivoCierreSesion" class="form-validation">

        <div ng-if="vm.motivo" class="panel  b-a bg-light lt has-success wrapper-md">
            <div class="alert alert-info">
                <strong>NOTA:</strong> Los campos se&ntilde;alados con (*) son obligatorios.
            </div>
            <div class="line"/>
            <div class="row  " >

                <div class="form-group">
                    <label class="col-sm-2 control-label">Id: </label>
                    <div class="col-sm-3">
                        <input type="number" ng-model="vm.motivo.id"
                               class="form-control" placeholder="Ingrese el Id" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">*Nombre: </label>
                    <div class="col-sm-3">
                        <input type="text" ng-model="vm.motivo.nombre"
                               class="form-control" placeholder="Ingrese el nombre" required />
                    </div>
                </div>
            </div>
            <div class="row  " >
                <div class="form-group">
                    <label class="col-sm-2 control-label">*Vigente: </label>
                    <div class="col-sm-3">
                        <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                            <input type="checkbox" ng-model="vm.motivo.vigente"  checked />
                            <i></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    <div ng-if="!vm.motivo" class="panel panel-defaul panel-body">
        <div>

            <table class="table table-condensed table-bordered table-striped"
                   show-filter="true">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>VIGENTE</th>
                    <th>CREACI&Oacute;N USUARIO</th>
                    <th>CREACI&Oacute;N FECHA</th>
                    <th>MODIFICA USUARIO</th>
                    <th>MODIFICA FECHA</th>
                </tr>
                </thead>

                <tr ng-repeat="iterador in vm.lstMotivosCierre">
                    <td class="text-center" data-title="ID">{{iterador.id}}</td>
                    <td class="text-center" data-title="NOMBRE">{{iterador.nombre}}</td>
                    <td class="text-center" data-title="VIGENTE">{{iterador.vigente}}</td>
                    <td class="text-center" data-title="CREACIONUSUARIO">{{iterador.usuario.nombre}}</td>
                    <td class="text-center" data-title="CREACIONFECHA">{{iterador.fecha}}</td>
                    <td class="text-center" data-title="MODIFICAUSUARIO">{{iterador.usuario.nombre}}</td>
                    <td class="text-center" data-title="MODIFICAFECHA">{{iterador.fecha}}</td>
                    <td>
                        <div class="text-center" style="width: 200px">
                            <button class="btn btn-info btn-xs"
                                    ng-click="vm.editarMotivo(iterador,$index)">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-xs"
                                    ng-click="vm.eliminarMotivo($index)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </form>
</div>